{# Plantilla como funciona #}

<section class="background-white pt40 pb40">
    <div class="container">
        <div class="row">
            <h2 class="text-center">¿Cómo funciona?</h2>
            <hr style="width:400px">
            <div>
                <div class="team-member-holder">
                    <div class="col-sm-4 text-center">
                        <span class="ion-compose bordered-icon-lg bordered-icon-color">
                            
                        </span>
                        <h4 class="team-member-name-imgtop">Crea tus conciertos</h4>
                        <div class="team-description">
                            <p>Regístrate en nuestra web, actualiza tu perfil y 
                            comienza a proponer conciertos a salas y artistas, 
                            configurando cada detalle de tu evento y llegando a 
                            un mutuo acuerdo entre todos los participantes.</p>
                        </div>
                    </div><!-- /column -->
                </div>
                <div class="team-member-holder mt30-xs">
                    <div class="col-sm-4 text-center">
                        <span class="ion-android-promotion bordered-icon-lg bordered-icon-color">
                            
                        </span>
                        <h4 class="team-member-name-imgtop">Vende tus entradas</h4>
                        <div class="team-description">
                            <p>De forma segura y sin riegos, comienza a vender 
                            tus entradas. Tu defines el mínimo de entradas 
                            que necesitas vender para poder llevar a cabo el 
                            concierto, definiendo el porcentaje de ganancias 
                            para cada parte.</p>
                        </div>
                    </div><!-- /column -->
                </div>
                <div class="team-member-holder mt30-xs">
                    <div class="col-sm-4 text-center">
                        <span class="ion-card bordered-icon-lg bordered-icon-color">
                            
                        </span>
                        <h4 class="team-member-name-imgtop">Cobra tus actuaciones</h4>
                        <div class="team-description">
                            <p>Una vez finalizado el concierto y confirmado que 
                            todo ha ido a la perfección, cada parte recibirá el
                            porcentaje acordado según las ventas emitidas, una 
                            forma segura de ganar con vuestras actuaciones.</p>
                        </div>
                    </div><!-- /column -->
                </div>
            </div>
        </div><!-- /row -->	
    </div>
</section>