{# empty Twig template #}
<section class="pt60 pb60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mb20">
                <div class="heading"><h4>¿Cómo funciona otro perfil de usuario?</h4></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 main">
            <div class="row placeholders text-center">
                <div class="col-xs-12 col-sm-4 placeholder">
                    <a href="/artista-como-funciona">
                        <img class="img-circle img-responsive" src="{{ asset('bundles/app/img/print3.jpg') }}" alt="Thumbnail">
                    </a>
                    <h3 class="mt20"><b>Local / Sala</b></h3>
                    <span>Crea tu agenda de conciertos de la forma más segura en tan sólo unos clics. Tu decides las condiciones para el concierto.</span>
                </div>
                <div class="col-xs-12 col-sm-4 placeholder">
                    <a href="/artista-como-funciona">
                        <img class="img-circle img-responsive" src="{{ asset('bundles/app/img/print2.jpg') }}" alt="Thumbnail">
                    </a>
                    <h3 class="mt20"><b>Profesional</b></h3>
                    <span>Crea tu perfil de profesional, publica tus anuncios y ofrece tus servicios para conseguir ser contratado en futuros eventos.</span>
                </div>
                <div class="col-xs-12 col-sm-4 placeholder">
                    <a href="/artista-como-funciona">
                        <img class="img-circle img-responsive" src="{{ asset('bundles/app/img/print1.jpg') }}" alt="Thumbnail">
                    </a>
                    <h3 class="mt20"><b>Espectador</b></h3>
                    <span>¿Quieres escuchar lo último, asistir a los mejores conciertos y enterarte de las novedades de tus grupos preferidos?</span>
                </div>
            </div>
        </div>
    </div>
</section>
