{# plantilla de contacto #}
{% block contacto %}
    <section id="contacto" class="background-white pt40 pb40"> <!-- Begin Contact -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading mb20"><h4><span class="ion-android-mail mr15"></span>¿Tienes algo que contarnos?</h4></div>
                    <p class="mb20"><b>Te escuchamos</b></p>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" placeholder="Nombre" class="form-control" id="InputName">
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Email" class="form-control" id="InputEmail1">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Asunto" class="form-control" id="InputAsunto">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Mensaje" id="InputMessage" rows="7"></textarea>
                        </div>
                        <button type="submit" class="btn btn-rw btn-primary">Enviar</button>
                    </form>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </section><!-- End Contact -->
{% endblock %}
    