{# El calendario automatico #}
<div class="row panelSombra background-white ml5 mb10 pb10">
    <div class="col-sm-12 col-md-12 col-lg-12 background-white">  <!--The calendar -->
        <div id="calendar" style="width: 100%"></div>
    </div>
</div>