{# Plantilla para la seccion comenzar giras #}
<section class="background-main pt60 pb60 fill text-center" style="background-image:url('{{asset('bundles/app/img/bg3.jpg')}}');">
    <div class="container">
        <div class="row">
            <h1 style="color: white">C<span style="text-transform: lowercase;">omienza a montar tu gira de conciertos</span></h1>
            <a href="{{ path('agregarEvento') }}" class="btn btn-rw btn-clear mt10">
                Comenzar &nbsp;&nbsp;<span class="ion-ios7-arrow-right"></span>
            </a>
        </div>
    </div><!-- /container -->
</section>
                