{# Pasos para crear un evento #}
<div class="row background-light-grey"><!-- Pasos -->
    <div>
        <div class="team-member-holder">
            <div class="col-sm-1 text-center"></div>
        </div>
        <div class="team-member-holder">
            <div class="col-sm-2 text-center">
                <span class="circulo bordered-icon-lg bordered-icon-color">
                    1
                </span>
                <h4 class="team-member-name-imgtop tituloInfo">Informaci&oacute;n general</h4>
            </div><!-- /column -->
        </div>
        <div class="team-member-holder mt30-xs">
            <div class="col-sm-2 text-center">
                <span class="circulo bordered-icon-lg-gris bordered-icon-color-gris">
                    2
                </span>
                <h4 class="team-member-name-imgtop">¿D&oacute;nde?</h4>
            </div><!-- /column -->
        </div>
        <div class="team-member-holder mt30-xs">
            <div class="col-sm-2 text-center">
                <span class="circulo bordered-icon-lg-gris bordered-icon-color-gris">
                    3
                </span>
                <h4 class="team-member-name-imgtop">¿Cu&aacute;ndo?</h4>
            </div><!-- /column -->
        </div>
        <div class="team-member-holder mt30-xs">
            <div class="col-sm-2 text-center">
                <span class="circulo bordered-icon-lg-gris bordered-icon-color-gris">
                    4
                </span>
                <h4 class="team-member-name-imgtop">Entradas</h4>
            </div><!-- /column -->
        </div>
        <div class="team-member-holder mt30-xs">
            <div class="col-sm-2 text-center">
                <span class="circulo bordered-icon-lg-gris bordered-icon-color-gris">
                    5
                </span>
                <h4 class="team-member-name-imgtop">Resumen</h4>
            </div><!-- /column -->
        </div>
        <div class="team-member-holder">
            <div class="col-sm-1 text-center"></div>
        </div>
    </div>
</div><!-- Fin Pasos -->
        