<div class="header-parallax fill" style="background-image:url('{{ asset(bgImage) }}'); background-color: #272727;" data-top-bottom="background-position: 50% 0px;" data-bottom-top="background-position: 50% -200px;">
    <div class="container">
        <div class="row">
            <!--=== Page Title ===-->
            <div class="col-xs-12" style="text-align:center;">
                <h2 class="text-white">{{ subheaderTitle }}</h2>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /page header -->