{# Plantilla del contenido  #}
{% block Contenido %}
<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
            Contenido de la p&aacute;gina...............................
            <small>Descripci&oacute;n</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li class="active">Aqu&iacute;</li>
        </ol>
      </section>
      <!-- Contenido -->
      <section class="content">
        <!-- Información aquí -->
      </section>
      <!-- /.content -->
    </div>  <!-- /.content-wrapper -->
{% endblock %}