{# Plantilla para el Pie de pagina #}
{% block Pie %}    
<!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
          <strong>Version</strong> 1.0
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">BUSCOCONCIERTO.com</a>.</strong> All rights reserved.
    </footer>
{% endblock %}
