{# Plantilla del banner delgado con los miembros del equipo de trabajo #}
{% block carrusel %}
<div class="quote-carousel"> <!-- Begin Quote Carousel -->
    <div id="quoteCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#quoteCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#quoteCarousel" data-slide-to="1"></li>
        </ol>
        <!-- Begin Wrapper for slides -->
        <div class="carousel-inner fill" style="background-image:url('{{ asset('bundles/app/img/backgrounds/bg2.jpg') }}'); background-color: #272727;" data-top="background-position: 50% 0px;" data-bottom="background-position: 20% -200px;">
            <!-- Begin Item 1 -->
            <div class="item active"> <!-- Item BG -->
                <div>
                    <div class="container">
                        <div class="container quote-carousel-content center-vertically-right">
                            <!-- Quote -->
                            <div class="col-sm-3 carousel-description text-right">
                                <h4 class="heavy text-white no-margin ceo-name">Johnathan Adams</h4>
                                <p class="company-name">CEO of V Studios</p>
                            </div>
                            <div class="col-sm-1 carousel-description">
                                <img src="{{ asset('bundles/app/img/ceo.png') }}" class="img-responsive quote-img" alt="CEO">
                            </div>
                            <div class="col-sm-7 carousel-description text-left">
                                You can design the most wonderful place in the world. But it takes people to make the dream a reality. The <span class="logo-general">.creativ</span> team are these people.
                            </div>
                        </div><!-- /content container -->
                    </div><!-- /container -->
                </div><!-- /bg div -->
            </div><!-- /item -->
            <!-- End Item 1 -->
            <!-- Begin Item 2 -->
            <div class="item"> <!-- Item BG -->
                <div>
                    <div class="container">
                        <div class="container quote-carousel-content center-vertically-right">
                            <!-- Quote -->
                            <div class="col-sm-1 carousel-description text-right"></div>
                            <div class="col-sm-7 carousel-description text-right">
                                You can design the most wonderful place in the world. But it takes people to make the dream a reality. The <span class="logo-general">.creativ</span> team are these people.
                            </div>
                            <div class="col-sm-1 carousel-description">
                                <img src="{{ asset('bundles/app/img/ceo.png') }}" class="img-responsive quote-img" alt="CEO">
                            </div>
                            <div class="col-sm-2 carousel-description text-left">
                                <h4 class="heavy text-white no-margin ceo-name">Adams sdf</h4>
                                <p class="company-name">CEOsdfdsf udios</p>
                            </div>                                                             
                        </div><!-- /content container -->
                    </div><!-- /container -->
                </div><!-- /bg div -->
            </div><!-- /item -->
            <!-- End Item 2 -->
        </div><!-- /carousel inner -->
        <!-- End Wrapper for slides -->
        <!-- Controls -->
        <a class="left carousel-control" href="#quoteCarousel" role="button" data-slide="prev">
            <span class="ion-ios7-arrow-left carousel-arrow-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#quoteCarousel" role="button" data-slide="next">
            <span class="ion-ios7-arrow-right carousel-arrow-right" aria-hidden="true"></span>
        </a>
    </div><!-- /carousel -->
</div>   <!-- End Quote Carousel -->
{% endblock %}
    