{# Seccion de busqueda del home #}
<div class="pt40 pb40" style="background-color:#5a5d61;">
    <div class="container">
        <div class="row">
            <form role="form" id="formularioBuscar" action="{{ path('buscar') }}" method="post">
                <div class="col-sm-10 without-padding-right">
                    <div class="form-group">
                        <input type="text" placeholder="Busca conciertos, artistas, locales de conciertos, profesionales... ¡todo lo que quieras!" class="form-control big-search">
                    </div>
                </div>
                <div class="col-sm-2 without-padding-left">
                    <button type="submit" style="width:100%;height:46px;" 
                      class="btn btn-lg btn-custom-orange btn-edge dropdown-toggle">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>