{# Carrusel para las presentaciones del artista #}
<div class="container">		
    <div class="row">
        <div class="col-lg-12">
            <div class="heading mt10 mb30">
                <h4><span class="ion-android-image mr15"></span>Presentaciones</h4>
                <div class="owl-controls">
                    <div id="customNav" class="owl-nav">
                        <div class="owl-prev" style=""><span>&lt;</span>
                        </div>
                        <div class="owl-next" style=""><span>&gt;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="owl-carousel-thumb" class="owl-carousel carousel-home">
                <div class="thumbnail">
                    <div class="view image-hover-1 no-margin">
                        <div class="product-container">
                            <img class="img-responsive full-width" src="{{ asset('bundles/public/img/shop/product2.jpg') }}" alt="...">
                            <a href="#"><h4 class="text-white">M&eacute;xico</h4>
                            </a>
                        </div>
                        <div class="mask"><!-- Mask -->
                            <div class="image-hover-content">
                                <!-- Zoom + Blog Link -->
                                <a href="{{ asset('bundles/public/img/shop/product2.jpg') }}" class="info image-zoom-link">
                                    <div class="image-icon-holder">
                                        <span class="ion-ios7-search image-icons"></span>
                                    </div>
                                </a>
                                <a href="#" class="info">
                                    <div class="image-icon-holder">
                                        <span class="ion-link image-icons"></span>
                                    </div>
                                </a>
                            </div><!-- /image hover content -->
                        </div><!-- /mask-->
                    </div>
                    <div class="shop-product content-box-shadow"><!-- Pie del recuadro -->
                        
                    </div><!-- Fin Pie del recuadro -->
                </div><!-- Fin Item 1 -->
                
            </div>
        </div>
    </div>
</div><!-- /container -->

